<p id="notice"><%= notice %></p>

<p>
  <strong>Faculty:</strong>
  <%= @educational_attainment.faculty %>
</p>

<p>
  <strong>School name elemetary:</strong>
  <%= @educational_attainment.school_name_elemetary %>
</p>

<p>
  <strong>School location elementary:</strong>
  <%= @educational_attainment.school_location_elementary %>
</p>

<p>
  <strong>School yearfrom elementary:</strong>
  <%= @educational_attainment.school_yearfrom_elementary %>
</p>

<p>
  <strong>School yearto elementary:</strong>
  <%= @educational_attainment.school_yearto_elementary %>
</p>

<p>
  <strong>School degrees elementary:</strong>
  <%= @educational_attainment.school_degrees_elementary %>
</p>

<p>
  <strong>School honors elementary:</strong>
  <%= @educational_attainment.school_honors_elementary %>
</p>

<p>
  <strong>School name intermediate:</strong>
  <%= @educational_attainment.school_name_intermediate %>
</p>

<p>
  <strong>School location intermediate:</strong>
  <%= @educational_attainment.school_location_intermediate %>
</p>

<p>
  <strong>School yearfrom intermediate:</strong>
  <%= @educational_attainment.school_yearfrom_intermediate %>
</p>

<p>
  <strong>School yearto intermediate:</strong>
  <%= @educational_attainment.school_yearto_intermediate %>
</p>

<p>
  <strong>School degrees intermediate:</strong>
  <%= @educational_attainment.school_degrees_intermediate %>
</p>

<p>
  <strong>School honors intermediate:</strong>
  <%= @educational_attainment.school_honors_intermediate %>
</p>

<p>
  <strong>School name secondary:</strong>
  <%= @educational_attainment.school_name_secondary %>
</p>

<p>
  <strong>School location secondary:</strong>
  <%= @educational_attainment.school_location_secondary %>
</p>

<p>
  <strong>School yearfrom secondary:</strong>
  <%= @educational_attainment.school_yearfrom_secondary %>
</p>

<p>
  <strong>School yearto secondary:</strong>
  <%= @educational_attainment.school_yearto_secondary %>
</p>

<p>
  <strong>School degrees secondary:</strong>
  <%= @educational_attainment.school_degrees_secondary %>
</p>

<p>
  <strong>School honors secondary:</strong>
  <%= @educational_attainment.school_honors_secondary %>
</p>

<p>
  <strong>School name collegiate:</strong>
  <%= @educational_attainment.school_name_collegiate %>
</p>

<p>
  <strong>School location collegiate:</strong>
  <%= @educational_attainment.school_location_collegiate %>
</p>

<p>
  <strong>School yearfrom collegiate:</strong>
  <%= @educational_attainment.school_yearfrom_collegiate %>
</p>

<p>
  <strong>School yearto collegiate:</strong>
  <%= @educational_attainment.school_yearto_collegiate %>
</p>

<p>
  <strong>School degrees collegiate:</strong>
  <%= @educational_attainment.school_degrees_collegiate %>
</p>

<p>
  <strong>School honors collegiate:</strong>
  <%= @educational_attainment.school_honors_collegiate %>
</p>

<p>
  <strong>School name graduate:</strong>
  <%= @educational_attainment.school_name_graduate %>
</p>

<p>
  <strong>School location graduate:</strong>
  <%= @educational_attainment.school_location_graduate %>
</p>

<p>
  <strong>School yearfrom graduate:</strong>
  <%= @educational_attainment.school_yearfrom_graduate %>
</p>

<p>
  <strong>School yearto graduate:</strong>
  <%= @educational_attainment.school_yearto_graduate %>
</p>

<p>
  <strong>School degrees graduate:</strong>
  <%= @educational_attainment.school_degrees_graduate %>
</p>

<p>
  <strong>School honors graduate:</strong>
  <%= @educational_attainment.school_honors_graduate %>
</p>

<p>
  <strong>School name doctoral:</strong>
  <%= @educational_attainment.school_name_doctoral %>
</p>

<p>
  <strong>School location doctoral:</strong>
  <%= @educational_attainment.school_location_doctoral %>
</p>

<p>
  <strong>School yearfrom doctoral:</strong>
  <%= @educational_attainment.school_yearfrom_doctoral %>
</p>

<p>
  <strong>School yearto doctoral:</strong>
  <%= @educational_attainment.school_yearto_doctoral %>
</p>

<p>
  <strong>School degrees doctoral:</strong>
  <%= @educational_attainment.school_degrees_doctoral %>
</p>

<p>
  <strong>School honors doctoral:</strong>
  <%= @educational_attainment.school_honors_doctoral %>
</p>

<p>
  <strong>College major:</strong>
  <%= @educational_attainment.college_major %>
</p>

<p>
  <strong>College minor:</strong>
  <%= @educational_attainment.college_minor %>
</p>

<p>
  <strong>Special studies:</strong>
  <%= @educational_attainment.special_studies %>
</p>

<p>
  <strong>Present studies:</strong>
  <%= @educational_attainment.present_studies %>
</p>

<%= link_to 'Edit', edit_educational_attainment_path(@educational_attainment) %> |
<%= link_to 'Back', educational_attainments_path %>
