

<p id="notice"><%= notice %></td>

<div style="float:left; margin:20px; border: solid">
  <table>
<tr>
  <td><strong>Last name:</strong>
  <%= @faculty.last_name %></td>



  <td><strong>First name:</strong>
  <%= @faculty.first_name %></td>



  <td><strong>Middle name:</strong>
  <%= @faculty.middle_name %></td>
</tr>

</table>
<table>


<tr>
  <td><strong>Present address:</strong>
  <%= @faculty.present_address %></td>

</tr>

<tr>

  <td><strong>Present address tel.:</strong>
  <%= @faculty.present_address_tel %></td>
</tr>

<tr>
  <td><strong>Permanent address:</strong>
  <%= @faculty.perma_address %></td>

</tr>

<tr>

  <td><strong>Permanent address tel.:</strong>
  <%= @faculty.perma_address_tel %>
</td>
</tr>

</table>
<table>

<tr>
<td>
  <strong>Nationality:</strong>
  <%= @faculty.nationality %>
</td>

<td>
  <strong>Citizenship:</strong>
  <%= @faculty.citizen %>
</td>


<td>
  <strong>Birth place:</strong>
  <%= @faculty.birth_place %>
</td>

<td>
  <strong>Birth date:</strong>
  <%= @faculty.birth_date %>
</td></tr>

<tr><td>
  <strong>Civil status:</strong>
  <%= @faculty.civil_status %>
</td>

<td>
  <strong>Sex:</strong>
  <%= @faculty.sex %>
</td><td>
  <strong>Spouse:</strong>
  <%= @faculty.spouse %>
</td>

<td>
  <strong>Marriage date:</strong>
  <%= @faculty.marriage_date %>
</td></tr>

<tr><td>
  <strong>Occupation:</strong>
  <%= @faculty.occupation %>
</td>

<td>
  <strong>Position:</strong>
  <%= @faculty.position %>
</td>

<td>
  <strong>Employer:</strong>
  <%= @faculty.employer %>
</td>

<td>
  <strong>Employer tel.:</strong>
  <%= @faculty.employer_tel %>
</td></tr>

<tr><td>
  <strong>No. of children:</strong>
  <%= @faculty.no_of_child %>
</td>

<td>
  <strong>No. of children studying:</strong>
  <%= @faculty.no_of_child_studying %>
</td>

<td>
  <strong>No. of children working:</strong>
  <%= @faculty.no_of_child_working %>
</td></tr>

<tr><td>
  <strong>Father's name:</strong>
  <%= @faculty.father_name %>
</td>

<td>
  <strong>Father's age:</strong>
  <%= @faculty.father_age %>
</td>

<td>
  <strong>Mother's name:</strong>
  <%= @faculty.mother_name %>
</td>

<td>
  <strong>Mother's age:</strong>
  <%= @faculty.mother_age %>
</td></tr>

<tr><td>
  <strong>TIN:</strong>
  <%= @faculty.tin %>
</td>

<td>
  <strong>SSS:</strong>
  <%= @faculty.sss %>
</td>

<td>
  <strong>GSIS:</strong>
  <%= @faculty.gsis %>
</td></tr>

<tr><td>
  <strong>Philhealth:</strong>
  <%= @faculty.philhealth %>
</td>

<td>
  <strong>Residence certificate:</strong>
  <%= @faculty.resid_cert %>
</td>

</tr>

<tr><td>
  <strong>Professional license:</strong>
  <%= @faculty.pro_license %>
</td>

<td>
  <strong>Professional license expire:</strong>
  <%= @faculty.pro_license_expire %>
</td>




<td>
  <strong>Issued at:</strong>
  <%= @faculty.issued_at %>
</td>

<td>
  <strong>Issued on:</strong>
  <%= @faculty.issued_on %>
</td>


</tr>

<tr><td>
  <strong>Academic rank:</strong>
  <%= @faculty.academic_rank %>
</td>

<td>
  <strong>Faculty status:</strong>
  <%= @faculty.faculty_status %>
</td></tr>



</table>
</div>