<p id="notice"><%= notice %></p>

<p>
  <strong>Last name:</strong>
  <%= @faculty.last_name %>
</p>

<p>
  <strong>First name:</strong>
  <%= @faculty.first_name %>
</p>

<p>
  <strong>Middle name:</strong>
  <%= @faculty.middle_name %>
</p>

<p>
  <strong>Present address:</strong>
  <%= @faculty.present_address %>
</p>

<p>
  <strong>Present address tel:</strong>
  <%= @faculty.present_address_tel %>
</p>

<p>
  <strong>Perma address:</strong>
  <%= @faculty.perma_address %>
</p>

<p>
  <strong>Perma address tel:</strong>
  <%= @faculty.perma_address_tel %>
</p>

<p>
  <strong>Nationality:</strong>
  <%= @faculty.nationality %>
</p>

<p>
  <strong>Citizen:</strong>
  <%= @faculty.citizen %>
</p>

<p>
  <strong>Birth place:</strong>
  <%= @faculty.birth_place %>
</p>

<p>
  <strong>Birth date:</strong>
  <%= @faculty.birth_date %>
</p>

<p>
  <strong>Civil status:</strong>
  <%= @faculty.civil_status %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @faculty.sex %>
</p>

<p>
  <strong>Spouse:</strong>
  <%= @faculty.spouse %>
</p>

<p>
  <strong>Marriage date:</strong>
  <%= @faculty.marriage_date %>
</p>

<p>
  <strong>Occupation:</strong>
  <%= @faculty.occupation %>
</p>

<p>
  <strong>Position:</strong>
  <%= @faculty.position %>
</p>

<p>
  <strong>Employer:</strong>
  <%= @faculty.employer %>
</p>

<p>
  <strong>Employer tel:</strong>
  <%= @faculty.employer_tel %>
</p>

<p>
  <strong>No of child:</strong>
  <%= @faculty.no_of_child %>
</p>

<p>
  <strong>No of child studying:</strong>
  <%= @faculty.no_of_child_studying %>
</p>

<p>
  <strong>No of child working:</strong>
  <%= @faculty.no_of_child_working %>
</p>

<p>
  <strong>Father name:</strong>
  <%= @faculty.father_name %>
</p>

<p>
  <strong>Father age:</strong>
  <%= @faculty.father_age %>
</p>

<p>
  <strong>Mother name:</strong>
  <%= @faculty.mother_name %>
</p>

<p>
  <strong>Mother age:</strong>
  <%= @faculty.mother_age %>
</p>

<p>
  <strong>Tin:</strong>
  <%= @faculty.tin %>
</p>

<p>
  <strong>Sss:</strong>
  <%= @faculty.sss %>
</p>

<p>
  <strong>Gsis:</strong>
  <%= @faculty.gsis %>
</p>

<p>
  <strong>Philhealth:</strong>
  <%= @faculty.philhealth %>
</p>

<p>
  <strong>Pro license:</strong>
  <%= @faculty.pro_license %>
</p>

<p>
  <strong>Resid cert:</strong>
  <%= @faculty.resid_cert %>
</p>

<p>
  <strong>Issued at:</strong>
  <%= @faculty.issued_at %>
</p>

<p>
  <strong>Issued on:</strong>
  <%= @faculty.issued_on %>
</p>

<p>
  <strong>Pro license expire:</strong>
  <%= @faculty.pro_license_expire %>
</p>

<p>
  <strong>Academic rank:</strong>
  <%= @faculty.academic_rank %>
</p>

<p>
  <strong>Faculty status:</strong>
  <%= @faculty.faculty_status %>
</p>

<%= link_to 'Edit', edit_faculty_path(@faculty) %> |
<%= link_to 'Back', faculties_path %>
<p id="pdf_link"><%= link_to "Download Invoice (PDF)", faculty_path(@order, :format => "pdf") %></p>