<%= form_for(@professional_membership) do |f| %>
  <% if @professional_membership.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@professional_membership.errors.count, "error") %> prohibited this professional_membership from being saved:</h2>

      <ul>
      <% @professional_membership.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :faculty_id %><br>
    <%= f.text_field :faculty_id %>
  </div>
  <div class="field">
    <%= f.label :org_name %><br>
    <%= f.text_field :org_name %>
  </div>
  <div class="field">
    <%= f.label :membership_date %><br>
    <%= f.datetime_select :membership_date %>
  </div>
  <div class="field">
    <%= f.label :no_of_yrs %><br>
    <%= f.number_field :no_of_yrs %>
  </div>
  <div class="field">
    <%= f.label :position %><br>
    <%= f.text_field :position %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
